.list {
  list-style-type: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.div {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  margin-top: 20px;
}

.item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: rgb(227, 222, 222);
}

.btn {
  cursor: pointer;
  background-color: #3498db;
  border: none;
  border-radius: 5px;
  padding: 5px 10px;
  margin-left: 15px;
}

.btn:hover {
  background-color: #2073b4;
}

.text {
  font-size: 18px;
  color: rgb(217, 119, 119);
}

.info {
  font-size: 18px;
  color: rgb(227, 222, 222);
}
